        <!-- Share feed START -->
<div class="card card-body">
    <div class="d-flex mb-3">
       
        <!-- Post input -->
        <form class="w-100">
            <input class="form-control pe-4" placeholder="Pesquise pelo nome de alguém..." data-bs-toggle="modal" data-bs-target="#modalCreateFeed">
        </form>
    </div>
  
    
    <!-- Share feed toolbar END -->
</div>

<div class="row g-3 mt-4">
    @foreach(var amigo in ViewBag.UsuarioSendoVisto?.Amigos){
        <div class="col-4">
            <div class="card shadow-none text-center h-100">
                <div class="card-body p-2 pb-0 pt-3">
                    <div class="avatar  avatar-xl">
                        <a asp-controller="Usuario" asp-action="Perfil" asp-route-id="@amigo?.Id"><img class="avatar-img rounded-circle" src="data:image/png;base64,@amigo?.FotoPerfil" alt=""></a>
                    </div>
                    <h6 class="card-title mb-1 mt-3"> <a asp-controller="Usuario" asp-action="Perfil" asp-route-id="@amigo?.Id"> @amigo?.Nome @amigo?.Sobrenome </a></h6>
                    <a asp-controller="Usuario" asp-action="Perfil" asp-route-id="@amigo?.Id"><p class="mb-0 small lh-sm mb-3">Clique para ver</p></a>

                </div>
                @if(ViewBag.UsuarioLogado?.Id == ViewBag.UsuarioSendoVisto?.Id){
                    <div class="card-footer p-2 border-0 pb-3">
                        <a asp-controller="Usuario" asp-action="RemoverAmigoViewAmigos" asp-route-id="@amigo.Id">
                            <button 
                                class="btn btn-sm btn-danger" 
                                data-bs-toggle="tooltip" 
                                data-bs-placement="top" 
                                aria-label="Remove friend" 
                                
                                data-bs-original-title="Remove friend"> <i class="bi bi-person-x"></i> Remover </button>
                        </a>
                    </div>
                }
            </div>
        </div>
    }

</div>