@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - SocialUniftec</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/SocialUniftec.styles.css" asp-append-version="true" />
</head>
<body>

	<main class="h-100">
		<div class="bg-primary pt-5 d-flex align-items-center justify-content-center position-relative">
			<div class="container d-flex justify-content-center">
				<div class="col-sm-10 col-md-8 col-lg-6 position-relative z-index-1">
					<h1 class="display-4 text-white mb-4 pb-5 position-relative text-center">Social Uniftec</h1>
					<div class="card card-body p-4 p-sm-5 mt-sm-n5 mb-5">
						<h2 class="h1 mb-2 text-center">Crie uma Conta!</h2>

						<form class="mt-4" asp-controller="Usuario" asp-action="Cadastrar" method="post">

							@Html.ValidationSummary()

							<label class="col-form-label">Nome:</label>
							<div class="mb-3 position-relative input-group-lg">
								<input type="text" class="form-control" id="usuariocadastro.nome" name="usuariocadastro.nome" placeholder="Informe seu nome">
							</div>
							
							<label class="col-form-label">Sobrenome:</label>
							<div class="mb-3 position-relative input-group-lg">
								<input type="text" class="form-control" id="usuariocadastro.sobrenome" name="usuariocadastro.sobrenome" placeholder="Informe seu Sobrenome">
							</div>

							<label class="col-form-label">E-mail:</label>
							<div class="mb-3 position-relative input-group-lg">
								<input type="email" class="form-control" id="usuariocadastro.email" name="usuariocadastro.email" placeholder="Informe seu email">
							</div>

							<div class="mb-3">
								<label class="col-form-label">Senha:</label>
								<div class="input-group input-group-lg">
									<input class="form-control fakepassword" id="usuariocadastro.senha" name="usuariocadastro.senha" type="password" id="psw-input" placeholder="Informe sua senha">
								</div>
							</div>

							<div class="mb-3">
								<label class="col-form-label">Repita sua Senha:</label>
								<div class="input-group input-group-lg">
									<input class="form-control fakepassword" id="usuariocadastro.senhaRepetida" name="usuariocadastro.senhaRepetida" type="password" id="psw-input" placeholder="Informe sua senha">
								</div>
							</div>

							<label class="col-form-label">Data Comemorativa:</label>
							<div class="mb-3 position-relative input-group-lg">
								<input type="date" class="form-control" id="usuariocadastro.dataComemorativa" name="usuariocadastro.dataComemorativa" placeholder="Informe sua Data Comemorativa">
							</div>

							<!-- Button -->
							<div class="d-grid">
								<button type="submit" class="btn btn-lg btn-primary-soft">Cadastrar</button>
							</div>

							<p class="mt-3 text-center">Já possui uma conta?<a href="sign-up.html"> @Html.ActionLink("Clique aqui para fazer login", "Login", "Usuario") </a></p>

						</form>
					</div>
				</div>
			</div>
		</div>
	</main>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
